/*fuente general*/
* {
  font-family: 'Roboto', sans-serif; }

body {
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh; }

.grid-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas: "header header header" "main main main"; }

/*estilos header index*/
.header {
  grid-area: header;
  width: 100%; }
  .header .parrafo-uno {
    margin: 2.5em;
    font-size: 1em; }
  .header .parrafo-dos {
    margin: 2.5em;
    font-size: 1em; }

/*estilos main index*/
.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  justify-items: center; }
  .main div a {
    color: black;
    text-decoration: none; }
    .main div a img {
      margin-top: 2em;
      border: 2px solid black;
      width: 350px;
      height: 350px; }
    .main div a h2 {
      text-align: center;
      font-size: 1.5em; }

/*estilos de navbar general*/
nav {
  background-color: #D1A5FA;
  border-bottom: 2px solid #A341FF; }
  nav .navbar-brand {
    margin: 1em;
    font-size: 1.4em;
    font-weight: bold; }
  nav .navbar-brand:hover {
    transform: scale(1.2); }
  nav .nav-item {
    font-weight: bold;
    padding: 0.5em; }
  nav .nav-item:hover {
    transform: scale(1.2);
    cursor: pointer; }

/*titulos generales*/
h1 {
  text-align: center;
  margin: 1em; }

/*nosotros*/
main .main-nosotros {
  text-align: center; }
  main .main-nosotros img {
    border: 2px solid black; }

main .div-nosotros {
  display: flex;
  padding: 1em;
  margin: 2.5em; }

/*productos*/
.main-productos {
  text-align: center; }
  .main-productos div {
    margin-bottom: 3em; }
    .main-productos div img {
      border: 2px solid black;
      width: 350px;
      height: 350px; }

/*footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #A341FF;
  background-color: #D1A5FA;
  height: 3.5em; }
  .footer p {
    text-align: center;
    margin: 1em;
    font-weight: bold; }
